<!DOCTYPE html>
<html>
   <head>
   <title>Login</title>
   </head>

   <body>
      <script> 
         function msg() { alert("Either wrong password or username has been taken up");} 
         msg() 
      </script>
      <div style="background-color: lightgrey; width:100%;margin:0 auto;border:0.5px solid black;" align="center"><h3> Welcome</h3></div>
      
      <div style="background-color: lightgrey;  position:fixed; top:30%; left:35%; width:300px;margin:0 auto; border:0.5px solid black; padding:5px;">
      
      <form action = "login" method = "POST" enctype = "multipart/form-data" align="center">
        First name: <input type="text" name="Username" required  style="padding:5px;"><br><br>
        Last name: <input type="password" name="Password" required  style="padding:5px;" ><br><br>
        <input type="submit" value="Login/Register" style="padding:5px;">
      </form></div>
      
      <div class="foot" align="center" style="background-color: lightgrey; top:90%; position:fixed;  width:99%;margin:0 auto;border:0.5px solid black;"> <h3>This is made in Python</h3></div>
      
   </body>
</html>      
