<!DOCTYPE html>
<html>
<head>
<title>See the database</title>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
</head>

   <body>
      <ul>
         <li><a href="" class = "active">Services - tables</a></li>   
         <li><a href="/sdb/schema">Tables schema</a></li>
         <li><a href="/sdb/data">View data</a></li>
         <li><a href="/show_menu">Back to menu</a></li>
         <li><a href="/">logout</a></li>
      </ul>
      
      <section style="position:fixed; top:2.5%; left:17.5%; width:78.5%; height:90%; margin:0 auto; border:0.5px solid black; padding:25px 20px 10px 20px;">
         
         <div >
           <table border =1 align="center" style="width:100%;">
            <tr><th>Table name</th>
	            <th>Purpose</th>
	         </tr>      
		      {% for row in rows %}
               <tr>
             		<td>{{row[0]}}</td>
             		<td>{{row[1]}}</td>
               </tr>
            {% endfor %}
		
           
         </div>
      </section> 
   </body>
</html>
